*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background-color: whitesmoke; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NavList {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  align-items: space-between;
  justify-content: flex-end;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.List {
  color: grey;
  padding-right: 20px;
  /* font-weight: 700; */
}

.Link {
  color: grey;
}

